* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    text-align: center;
}

.container {
    display: grid;
    /*grid-template-columns: 33.3% 33.3% 33.3%;*/
    /*grid-template-columns: 2fr 3fr 1fr;*/
    /*grid-template-columns: repeat(3, 1fr);*/
    grid-template-columns: repeat(6, 1fr);
    /*column-gap: 5px;
    row-gap: 5px;*/
    gap: 5px;
    /*grid-template-rows: repeat(3, 200px);*/
    grid-template-rows: repeat(4, minmax(150px, auto));
    max-width: 960px;
    margin: 0 auto;
    color: white;
}
.container div {
    padding: 30px;
    background-color: cadetblue;
    border: 1px solid white;
}

.container div:nth-child(even) {
    background-color: darkslategray;
}

.one {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
}

.two {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}

.three {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
}

.four {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}

.five {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}

.six {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
}

.seven {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
}

.eight {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
}

